.Serve h1{
    text-align: center;
    font-family: 'Cairo', sans-serif;
    padding-top: 30px;
    padding-bottom: 20px;
}
.item {
    width:100%;
}

.Serve .item img{
  width: 100%;
  height:400px;
  position:relative;
}
.Serve .title{
     background-color: #CBC2C2;
    text-align: center;
 height: 80px;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    margin-top: -50px;
    width: 100%;
    position: absolute;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;}
.Serve .title h5{
    padding-top: 5px;
    font-weight: 900;
    font-size: 30px;
}
.contactus{
margin-left: 200px;
margin-bottom: 50px;

}
.whats{
    width: 150px;
    height:50px;
    background-color: #F36F20;
    border:1px solid #F36F20  ;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}
.Call {
    width:150px;
    height:50px;
    background-color: #378715;
    border:1px solid #378715 ;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 50%;
}
   

.Call img{
    padding-right: 10px;
}
