.certificate h1{
    text-align: center;
  font-size: 35px;
    font-family: 'Cairo', sans-serif;
    padding-top: 30px;
}

.certificate h5{
  color:#F36F20;
}
.certificate .content{
 padding-top:30px;
}
.certificate .show {
  color:black;
  padding-top:10px;
  padding-bottom: 30px;
  
}
.certificate  {
margin-left:100px;}
